/* Stylesheet for desktops and large screens */
:root {
    --color_1: #3D5A80;
    --color_1_dark: #2a3d53;
    --color_2: #98C1D9;
    --color_3: #E0FBFC;
    --color_4: #db352f;
    --color_5: #293241;
    --color_6: #13a113;
}

body {
    background-color: var(--color_2);
    color: var(--color_5);
}

/* Desktop Style */

/* Nav menu */
nav>ul {
    background-color: var(--color_1);
    color: var(--color_3);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navlink {
    display: block;
    text-decoration: none;
    color: var(--color_3);
    text-align: center;
    padding: 0.5rem 1rem;
}

.active_page {
    background-color: var(--color_6);
}

.project_dropdown:hover .nav_supermenu {
    display: flex;
    flex-direction: column;
}

.nav_supermenu {
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: var(--color_1);
    min-width: 8rem;
    z-index: 1;
}

.nav_super {
    text-decoration: none;
    color: var(--color_3);
    text-align: center;
    padding: 0.5rem 1rem;
}

.nav_super:hover {
    background-color: var(--color_1_dark);
}

.navlink:not(.active_page):hover, .project_dropdown:hover {
    background-color: var(--color_4);
}

.icon {
    display: none;
}

/* Mobile Style */
@media screen and (max-width: 640px) {

    /* Nav menu */
    nav>ul {
        background-color: var(--color_1);
        color: var(--color_3);
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
    }
}

